<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>To-Do</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="title">
                    <h1>To-Do: <%=list.listName%></h1>
                </div>

            <nav id="nav-show">
                    <ul>
                        <li>
                            <a href="/lists">Home</a>
                        </li>
                        <li>
                            <a href="/lists/<%=list._id%>/edit">Edit Name</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- show list items here by connecting the two models -->
        <ul>
            <% for(let i = 0; i < list.listItems.length; i++) { %>
            <li>example list item</li>
            <li>
                 <li><a href="/items/<%=list.listItems[i]._id%>"><%=list.listItems[i].toDoItem%></a></li>
            <% } %>
        </ul>
        <!-- DELETE -->
        <div class="list-name">
            <form action="/lists/<%=list._id%>?_method=DELETE" method="POST">
                <input type="submit" class="updateBtn" value="Delete To-Do"/>
            </form>
        </div>


    </body>
</html>
